/* General styling */
.modal {
  position: fixed;
  top: 20%;
  right: 10%;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  max-width: 600px;
  left: 30%;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  height: 100% !important;
}
.modal-content {
  z-index: 99999;
}
body {
  font-size: 15px;
  padding-top: 80px !important;
  padding-bottom: 0 !important;
  margin-left: 0;
  margin-top: 0;
}
.modal .btn {
  line-height: .9;
}
body input[type=text] {
  border: 2px solid #bdc3c7;
  color: #345E79 !important;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  padding: 6px 10px;
  height: 35px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
body input[type=text]:focus {
  border-color: #5D88B3 !important;
  color: #5D88B3 !important;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Navbar */
.navbar {
  margin-bottom: 0;
  min-height: 30px;
  border-radius: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li a {
  color: #ECF0F1;
}
.navbar .nav > li a .caret {
  border-bottom-color: #ECF0F1;
  border-top-color: #ECF0F1;
}
.navbar .nav > li a:hover,
.navbar .nav > li a:focus,
.navbar .nav > li a:active {
  color: rgba(236, 240, 241, 0.8);
  background-color: transparent;
}
.dropdown-toggle:hover .caret,
.dropdown-toggle:focus .caret {
  border-bottom-color: rgba(236, 240, 241, 0.8) !important;
  border-top-color: rgba(236, 240, 241, 0.8) !important;
}
.nav > li > a,
.navbar-brand {
  padding: 0px 15px;
  max-height: 30px;
}
.navbar-form {
  padding-bottom: 7px;
}
.search-query {
  margin-bottom: 7px;
  height: 30px !important;
}
.nav a {
  font-size: 15px;
}
.sidebar-nav {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
  padding: 10px;
  background: #95A5A6;
  border-radius: 0;
}
.sidebar-nav li a,
.sidebar-nav a {
  color: #fff;
  display: block;
  font-size: 14px;
}
.sidebar-nav li:hover,
.nav-page-active,
.sidebar-nav p:hover {
  color: #fff;
  background: #345E79;
  border-left: 4px solid #5D88B3;
}
.sidebar-nav li,
.sidebar-nav p {
  list-style: none;
  border-bottom: 1px solid #95A5A6;
  padding: 4px;
}
.sidebar-nav p {
  margin-bottom: 0;
  padding: 2px;
}
.open > .dropdown-menu {
  background-color: #345E79;
  padding: 3px 4px;
  margin-top: 27px !important;
}
.dropdown-menu {
  border-radius: 4px;
}
.dropdown-menu ul {
  min-width: 172px;
  padding-left: 0;
  list-style: none;
}
.dropdown-menu li {
  height: 32px;
  padding-top: 3px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-radius: 4px;
}
.dropdown-menu li:first-child > a {
  padding-top: 3px;
}
.dropdown-menu li a {
  color: #ECF0F1 !important;
  border-radius: 4px;
  padding: 1px 9px;
  font-size: 14px;
  display: block;
}
.dropdown-menu li:hover {
  background-color: #717577;
}
.dropdown-menu li:hover a {
  color: #ffffff !important;
  background: transparent;
}
.nav-header,
.nav-header:hover {
  margin-left: 5px;
  color: #fff;
  background-color: transparent !important;
}
.nav > li > a {
  border-right: 1px solid #787676;
}
.navbar-brand {
  line-height: 1.1em;
  padding-left: 8px;
  color: #ECF0F1 !important;
}
.navbar-brand:hover {
  color: rgba(236, 240, 241, 0.8) !important;
}
.divider {
  background-color: #FFF !important;
  height: 2px;
  margin-left: -4px;
  margin-right: -4px;
}
.dropdown.open .dropdown-toggle {
  color: rgba(236, 240, 241, 0.8) !important;
}
.dropdown.open .caret {
  border-bottom-color: #bdc3c7 !important;
  border-top-color: #bdc3c7 !important;
}
/* Tables */
.table-bordered {
  border-collapse: separate;
  border-radius: 4px;
}
.table-condensed > thead > tr > th {
  padding: 8px;
}
table input[type=text] {
  border-radius: 0 !important;
  border: 1px solid #bdc3c7 !important;
  height: 25px !important;
}
table thead {
  background: #345E79;
  color: #ECF0F1;
}
/*.dataTables_wrapper table.table thead .sorting_asc {
  background: url('/jslib/old/datatables/images/white-theme/sort_asc.png') no-repeat center right;
}
.dataTables_wrapper table.table thead .sorting_desc {
  background: url('/jslib/old/datatables/images/white-theme/sort_desc.png') no-repeat center right;
}*/
div.dataTables_length select {
  border-radius: 4px;
  height: 35px;
}
.pagination ul li > a,
.pagination ul li > span,
.pagination ul li.active > a:hover {
  color: #5D88B3;
}
.pagination ul li > a:hover,
.pagination ul li > span:hover {
  color: #fff;
}
.previous.disabled a:hover,
.next.disabled a:hover,
.previous.disabled a:focus,
.next.disabled a:focus,
.previous.disabled a:active,
.next.disabled a:active {
  background: #d6dbdf;
  color: rgba(93, 136, 179, 0.8);
  cursor: default;
}
.flatTheme .dataTables_wrapper.form-inline {
  width: 100%;
}
.flatTheme .dataTables_wrapper table {
  margin-left: 0;
}
/* Api Page */
.swagger-section .swagger-ui-wrap table thead tr th {
  color: #fff !important;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
  margin: 0;
}
/* Explorer Page */
.elfinder .elfinder-button {
  width: 25px !important;
}
/* Edit Page */
/* Mega menu */
.dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid rgba(0, 0, 0, 0);
  border-right: 10px solid rgba(0, 0, 0, 0);
  border-bottom: 15px solid #345E79;
  position: absolute;
  top: -12px;
  z-index: 100;
  left: 30px;
}
.mega-menu {
  /*min-width: 400px !important;*/
}
.dropdown-menu.mega-menu li {
  height: initial;
}
.mega-menu ul {
  background-color: #345E79;
}
.dropdown-menu.mega-menu li:hover,
.dropdown-menu.mega-menu .dropdown-header:hover {
  background-color: initial;
}
.mega-menu .mega-menu-column li:hover {
  background-color: #717577;
}
.mega-menu .mega-menu-column li {
  /*max-height: 31px;*/
}
.mega-menu-column ul {
  border-right: 1px solid #5e5e5e;
  padding-right: 20px;
  margin-bottom: 13px;
}
.mega-menu-column:last-child ul {
  border-right: 0;
}
.dropdown-menu.mega-menu .dropdown-header {
  padding: initial;
  color: #fff;
  font-weight: bold;
  font-size: 96%;
  border-bottom: 1px solid gray;
  border-radius: 0;
  padding-bottom: 8px;
  margin-right: 60px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
select {
  -webkit-appearance: menulist !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #e4e7ea !important;
  border-right-color: #FFFFFF !important;
  border-left-color: #FFFFFF !important;
  color: #4A749C;
}
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #345E79;
}
.btn-default {
  color: #000 !important;
}
table.table {
  margin-left: 15px !important;
}
.checkbox input,
.radio input {
  display: inline;
}
a {
  color: #5D88B3;
}
a:hover,
a:active,
a:focus {
  color: rgba(93, 136, 179, 0.8);
}
.pagination ul li > a:hover,
.pagination ul li > span:hover,
.pagination ul li > a:focus,
.pagination ul li > span:focus,
.pagination ul li.active > a,
.pagination ul li.active > span {
  background-color: #5D88B3;
  border-color: #5D88B3;
}
.btn-primary {
  background-color: #5D88B3;
}
.btn-primary:hover {
  background-color: #5dade2;
}
.title span {
  color: #5D88B3 !important;
}
.navbar-inverse .navbar-form .form-control:focus {
  border-color: #D6D6D6 !important;
  color: #5D88B3 !important;
}
/* Hamburger menu */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 16px;
  left: 7px;
  right: 7px;
  height: 2px;
  background: #000;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: "";
}
.c-hamburger span::before {
  top: -9px;
}
.c-hamburger span::after {
  bottom: -9px;
}
.c-hamburger:hover span::before {
  top: -11px;
}
.c-hamburger:hover span::after {
  bottom: -11px;
}
.c-hamburger--htla,
.c-hamburger--htla.is-active {
  background-color: #fff;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
  left: -25px;
}
.c-hamburger--htla.is-active .c-hamburger span {
  height: 6px;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(39px) translateY(1px) rotate(40deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(39px) translateY(-3px) rotate(-50deg);
}
/* end of Hamburger menu */
.page-content .navigation {
  width: 5%;
}
.page-content .navigation.wide-sidebar {
  width: 16.66666667%;
}
.page-content .content {
  width: 95%;
}
.page-content .content.less-wide {
  width: 83.33333333%;
}
.clean-header {
  min-height: 0;
}
.datatables-row-StatusCode {
  width: 100px !important;
}
.datatables-row-GridID {
  width: 75px !important;
}
.datatables-row-CreateTime {
  width: 125px !important;
}
.datatables-row-StartTime,
.datatables-row-StopTime {
  width: 75px !important;
}
.datatables-row-AccountID,
.datatables-row-NetworkID,
.datatables-row-StackID {
  width: 100px !important;
}
.datatables-row-CloudSpaceID {
  width: 115px !important;
}
.datatables-row-ID {
  width: 50px !important;
}
.datatables-row-GridNodeID {
  width: 125px !important;
}
.datatables-row-NodeID {
  width: 75px !important;
}
.datatables-row-Occurences {
  width: 75px !important;
}
.datatables-row-Call {
  width: 400px !important;
}
.datatables-row-Message {
  width: 400px !important;
}
#markdown-portal .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:hover,
#markdown-portal .navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a:focus,
#markdown-portal .navbar-inverse .navbar-nav > .open > a,
#markdown-portal .navbar-inverse .navbar-nav > .open > a:hover,
#markdown-portal .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}
#markdown-portal .navbar {
  min-height: 30px;
  margin-bottom: 0;
}
#markdown-portal .navbar-nav > li > a {
  font-weight: 400;
  font-size: 15px;
  padding: 1px 15px !important;
}
#markdown-portal .navbar .nav > li a:hover,
.navbar .nav > li a:focus,
.navbar .nav > li a:active,
#markdown-portal .navbar-brand:hover {
  color: #bdc3c7;
}
#markdown-portal .navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
#markdown-portal .navbar-brand {
  font-size: 21px;
  padding: 1px 15px;
}
#markdown-portal .navbar-form.navbar-right {
  padding-top: 0;
  padding-bottom: 0;
}
#markdown-portal .header-container {
  padding-top: 10px;
  padding-bottom: 4px;
}
#markdown-portal .nav.navbar.pull-right a {
  padding: 1px 15px;
}
#markdown-portal .open > .dropdown-menu {
  margin-top: 27px !important;
}
#markdown-portal .form-control.search-query {
  border-radius: 5px;
  margin-top: -3px;
}
#markdown-portal #menu-container {
  width: 83%;
}
#markdown-portal #search-form .form-group {
  float: right;
}
.title + .nav.nav-list li a {
  border: 0;
}
.title + .nav.nav-list li {
  border-left: 5px solid #F5F5F5;
}
/*
h3, .h3 {
    font-size: 20px;
}
h2, .h2 {
    font-size: 25px;
}
h4, .h4 {
    font-size: 17px;
}
*/
.page-content table.table {
  margin-left: 0 !important;
}
.dataTables_wrapper.form-inline .row {
  margin: 0;
}
.span6 label,
.span6 div.dataTables_info {
  margin-left: 0 !important;
}
.page-content .dataTables_wrapper.form-inline {
  width: 100% !important;
}
.page-content .content {
  width: 100% !important;
  padding-right: 0;
}
.row-fluid.page-content .container.eve-grid-container {
  margin-left: -27px;
}
.swagger-section .swagger-ui-wrap {
  max-width: 100% !important;
}
.swagger-section .swagger-ui-wrap ul#resources {
  padding-left: 0 !important;
  margin-left: -20px;
}
.endpoints {
  padding-left: 0;
}
.panel-title a p {
  font-size: 14px;
  margin: 0;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #e4e7ea;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #4A749C;
  cursor: default;
  background-color: #337ab7;
  border-color: #E4E7EA;
}
.modal-body-error pre {
  background-color: inherit;
  border: 0;
  overflow-x: scroll;
}
div.jgauge {
  float: initial !important;
}
.circle-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.health-success {
  border: 2px solid #50B645;
  background-color: #50B645;
}
.health-warning {
  border: 2px solid #E79020;
  background-color: #E79020;
}
.health-danger {
  border: 2px solid #F3405F;
  background-color: #F3405F;
}
.ui-pnotify-title {
  font-size: 18px !important;
}
.status-label {
  min-width: 82px;
}
/*Imported from flat ui css*/
.dropdown-arrow-inverse {
  border-bottom-color: #345E79 !important;
  border-top-color: #345E79 !important;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #5F5F5F;
  background-color: #ffffff;
}
.bg-primary {
  color: #ffffff;
  background-color: #345E79;
}
kbd {
  padding: 2px 6px;
  font-size: 85%;
  color: #ffffff;
  background-color: #345E79;
  border-radius: 4px;
  box-shadow: none;
}
.thumbnail .caption {
  padding: 9px;
  color: #345E79;
}
.btn-inverse {
  color: #ffffff;
  background-color: #345E79;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #345E79;
  border-color: #345E79;
}
.caret {
  border-width: 8px 6px;
  border-bottom-color: #345E79;
  border-top-color: #345E79;
  border-style: solid;
  border-bottom-style: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(1.001);
  -ms-transform: scale(1.001);
  transform: scale(1.001);
}
.form-control {
  border: 2px solid #bdc3c7;
  color: #345E79;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.467;
  padding: 6px 10px;
  height: 35px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.checkbox.primary .icons,
.radio.primary .icons {
  color: #345E79;
}
.navbar-toggle {
  border: none;
  color: #345E79;
  margin: 0 0 0 21px;
  padding: 0 21px;
  height: 53px;
  line-height: 53px;
}
.navbar-text {
  font-size: 16px;
  line-height: 1.438;
  color: #345E79;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-default .navbar-brand {
  color: #345E79;
}
.navbar-default .navbar-toggle:before {
  color: #345E79;
}
.navbar-default .navbar-nav > li > a {
  color: #345E79;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #345E79;
  border-bottom-color: #345E79;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #345E79;
}
.navbar-default .navbar-text {
  color: #345E79;
}
.navbar-default .navbar-text a {
  color: #345E79;
}
.navbar-inverse {
  background-color: #345E79;
}
.navbar-inverse .navbar-nav > .open > .dropdown-arrow {
  border-top-color: #345E79;
  border-bottom-color: #345E79;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu {
  background-color: #345E79;
  padding: 3px 4px;
}
.tagsinput input {
  background: transparent;
  border: none;
  color: #345E79;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0 0 0 5px;
  outline: none !important;
  margin: 6px 5px 0 0;
  vertical-align: top;
  width: 12px;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  border: 2px solid #bdc3c7;
  color: #345E79;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.467;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
.pager {
  background-color: #345E79;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #345E79;
  border-width: 9px 9px 0;
  bottom: 0;
  margin-left: -9px;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #345E79;
  border-width: 9px 9px 9px 0;
  margin-top: -9px;
  left: -3px;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #345E79;
  border-width: 0 9px 9px;
  margin-left: -9px;
  top: -1px;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #345E79;
  border-width: 9px 0 9px 9px;
  margin-top: -9px;
  right: -3px;
}
.tooltip-inner {
  background-color: #345E79;
  line-height: 1.286;
  padding: 12px 12px;
  text-align: center;
  width: 183px;
  border-radius: 6px;
}
.navbar-fixed-bottom .nav > li > ul:before {
  border-bottom: none;
  border-top: 9px outset #345E79;
  bottom: 4px;
  top: auto;
}
.open.dropup > .dropdown-arrow.dropdown-arrow-inverse {
  border-top-color: #345E79;
}
.dropdown-inverse {
  background-color: #345E79;
  color: #cccccc;
  padding: 4px 0 6px;
}
.has-switch span.switch-left {
  border-radius: 30px 0 0 30px;
  background-color: #345E79;
  color: #1abc9c;
  border-left: 1px solid transparent;
}
.has-switch label {
  border: 4px solid #345E79;
  border-radius: 50%;
  float: left;
  height: 29px;
  margin: 0 -15px;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 29px;
  z-index: 100;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.palette-wet-asphalt {
  background-color: #345E79;
}
.todo li {
  background: #345E79 url(../images/todo/todo.png) 92% center no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.214;
  margin-top: 2px;
  padding: 18px 42px 21px 25px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.todo-search {
  position: relative;
  background: #1abc9c;
  background-size: 16px 16px;
  border-radius: 6px 6px 0 0;
  color: #345E79;
  padding: 19px 25px 20px;
}
input.todo-search-field {
  background: none;
  border: none;
  color: #345E79;
  font-size: 19px;
  font-weight: 700;
  margin: 0;
  line-height: 23px;
  padding: 5px 0;
  text-indent: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input.todo-search-field:-moz-placeholder {
  color: #345E79;
}
input.todo-search-field::-moz-placeholder {
  color: #345E79;
  opacity: 1;
}
input.todo-search-field:-ms-input-placeholder {
  color: #345E79;
}
input.todo-search-field::-webkit-input-placeholder {
  color: #345E79;
}
/* END of Imported from flat ui css*/
input.todo-search-field.placeholder {
  color: #345E79;
}
.explore-portals {
  background: #345E79 !important;
  color: #ECF0F1 !important;
}
#PortalsHamburgerMenu.light span,
#PortalsHamburgerMenu.light span::before,
#PortalsHamburgerMenu.light span::after,
.slider-container.visible #PortalsHamburgerMenu span,
.slider-container.visible #PortalsHamburgerMenu span::before,
.slider-container.visible #PortalsHamburgerMenu span::after {
  background: #ECF0F1 !important;
}
.accordion .panel-heading:hover a,
.portals-list .panel-collapse li:hover a {
  border-left: 4px solid #345E79 !important;
}
.navbar-inverse .navbar-form .form-control {
  background-color: #FFF !important;
}
.table-condensed > thead > tr > th {
  vertical-align: middle;
  min-width: 130px;
}
table.table thead .sorting {
  min-width: 105px;
}
table.table-bordered.dataTable th{
  vertical-align: middle;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  bottom: 25% !important;
}
.elfinder {
  min-height: 540px !important;
}
.ui-datepicker {
   background: #f8f8f8;
   width: 20%;
   padding: 20px;
   border: 1px solid #345e79;
}
.ui-datepicker-header a:last-of-type{
  float: right;
}
.ui-datepicker-calendar{
  margin: 0 auto;
  width: 100%;
}
.ui-datepicker-week-end:first-of-type{
  padding-left: 10px;
}
.ui-slider-handle, .ui-datepicker-buttonpane button, .ui-slider-handle:hover,
.ui-slider-handle:focus {
  background-color: #345e79;
}
.ui-datepicker-buttonpane button {
  color: #fff;
  margin-right: 10px;
  border: 1px solid #345e79;
}
.col-md-4 .title, .col-md-5 h6, .ui-datepicker-title{
  text-align: center !important;
}
.clearfix .jgauge {
  margin: 0 auto !important;
}
tfoot td{
  vertical-align: top;
}
#ui-datepicker-div{
  display: none;
}
.ui-corner-all{
  cursor: pointer;
}
.dataTable td{
  max-width: 205px !important;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dataTable td:hover{
  -o-text-overflow: clip;
  text-overflow: clip;
  overflow-wrap: break-word;
}
.dataTable .datatables_filter{
  width: 100%;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting{
  padding-right: 0 !important;
}
.container{
  padding-right: 0;
}
.content .col-md-6:last-of-type{
  padding-right: 0;
}
